h2 {
    text-align: center;

    }

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1c3a2;
}

button {
    margin: 5em;
    padding: .7em 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #d1c3a2;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    outline: none;
    cursor: pointer
}
